# Visual Studio
.vs/
*.vcxproj.user
*.user
*.suo

# Build folders
x64/
Debug/
Release/
bin/
obj/

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Logs
Saved/Logs/*.txt

# Temporary files
*.tmp
*.log

# OS files
Thumbs.db
.DS_Store

# SFML / package caches
packages/