# =========================
# Visual Studio
# =========================

.vs/
*.user
*.vcxproj.user

# =========================
# Build folders
# =========================

x64/
x86/
bin/
obj/

# =========================
# Temporary / debug files
# =========================

*.pdb
*.ilk
*.tlog
*.tmp
*.temp

# =========================
# Test results
# =========================

*.xml
*.gta.testdurations

# =========================
# NuGet / packages
# =========================

packages/

# =========================
# Generated executables
# =========================

*.exe

# =========================
# Logs
# =========================

log.txt